<!DOCTYPE html>

<!--FOR 356 SCHEMA PROJECT  -->
<!-- Prof. Schiller, I have labled the beginning of each of my microdata schemas with the following tag:  -->

<!-- MicroData Schema Added -->

<!-- followed by comments for the individual corresponding types. All itemscope and itemprop properties will be
    added as the first attribute.  -->

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  -->
    <!-- I added this meta description tag so that the search engine will display relevent information on the serp page. 
        I also utilized a number of my keywords -->
    <meta name="description"
        content="I am a Front End Web Developer and Designer in Vancouver, Washington. This is where you'll find my portfolio of recent projects. Enjoy!">

    <!--  -->
    <!-- I added this canonical link to point to the original version of my site even though there are no duplicate versions of
        this url anywhere (i may have some duplicate pages in the future to test out new features) -->
    <link href="http://dtc-wsuv.org/rgriffus20/concept1/index.html" rel="canonical" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- our css -->
    <link rel="stylesheet" href="./style.css">
    <!-- jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!-- include full featured jquery!! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- glider slider stuff -->
    <!-- Required Core stylesheet -->
    <link rel="stylesheet" href="glide-master/dist/css/glide.core.min.css">

    <!-- Optional Theme stylesheet -->
    <link rel="stylesheet" href="glide-master/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="glide-master/dist/css/glide.theme.min.css">

    <!-- bebas neue font -->
    <link rel="stylesheet" href="https://use.typekit.net/ukn2vfn.css">
    <!-- protipo font -->
    <link rel="stylesheet" href="https://use.typekit.net/ukn2vfn.css">

    <!-- vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!--  -->
    <!-- I changed this text from 'rossgriffus.com' to the text below to provide better 
            contextual information in browser tab and serp header. I was also able to use more of 
            my keywords.  -->
    <title>Ross Griffus | Full Stack Developer & Designer | Eugene, Oregon</title>
</head>

<!-- MicroData Schema Added -->
<!--Added itemscope with itemtype Person because this page represents me  -->

<body itemscope itemtype="http://schema.org/Person">

    <div id="app">
    <!-- title -->
    <!--  -->
    <!-- After i removed the picture and introduction to the about page, I decided to add this element
            to add some extra indexable content to my page and also to use more of my keywords. -->
    <!--  -->
    <!-- I also made sure to use h1 and h2 elements to best indicate the most important parts of my information. -->
    <div class="col-12 container ml-auto" id="title_cont">
        <div id="title_grid_fix">


            <!-- I added a name, givenName and familyName props to indicate my name -->
            <h1 itemprop="name" id="name"><span itemprop="givenName">Ross</span> <span itemprop="familyName">
                    Griffus</span></h1>


            <!-- I added an itemprop to indicate my intended job title. This one isn't the best description but its the best i could find. -->

            <h2 itemprop="jobTitle" id="catchphrase">Full Stack Developer & Designer</h2>
        </div>

        <!--  Added an itemprop to indicate an image of the person type-->
        <a href="./about.html"><img itemprop="image" id="small_pro_fix" class="small_pro" src="img/profilePic.jpg"
                alt="ross griffus headshot"></a>

    </div>
    

    <!-- Header elements -->

    <!--  -->
    <!-- Using the nav html element to house my internal links helps the search engine understand
         the structure of my header links. -->
    <nav id="header" class="navbar navbar-expand-md navbar-light sticky-top col-12">
        <div class="container">
            <div class="container-fluid">
                <a id="logo" class="navbar-brand" href="./index.html"><img src="img/logo.png"></a>

                <button @click="handleMenu(mobile_header)" id="menu-btn" style="padding: 0px;" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                    <span id="hamburger-menu" class="navbar-toggler-icon" v-bind:class="!mobile_header && 'hide'"></span>
                    <span id="hamburger-menu-close" v-bind:class="mobile_header && 'hide'" aria-hidden="true">&times;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown header-active">
                        </li>

                        <!--  -->
                        <!-- I tweaked the wording of my tabs to better reflect the content inside the links. Previously, I had 
                            named the 'Projects' link 'works'. -->
                        <!--  -->
                        <!-- I also renamed my various html files (other than index) to better represent the nature of the page content.
                         -->
                        <li class="nav-item">
                            <a class="nav-link active" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./resume.pdf">Resume</a>
                        </li>

                    </ul>

                </div>
                <a href="./about.html"><img class="small_pro" id="popin_fix" src="img/profilePic.jpg"
                        alt="ross griffus headshot" style="width: 45px;height: 45px;"></a>
            </div>

        </div>
    </nav>

    <!-- slider -->
    <div id="slider" class="container col-12 mx-auto">
        <div class="glide">
            <div data-glide-el="track" class="glide__track">

                <ul class="glide__slides">

                    <!-- MicroData schema added -->
                    <!-- I embedded a creativeWork prop here to indicate a work associated with the person type -->

                    <li itemscope itemtype="http://schema.org/WebSite" class="glide__slide">
                        <div class="recent_content_container">
                            <div
                            style="position: absolute; width: 100%; height: 100%; background-color: black; opacity: 0.3;">

                        </div>
                            <div class="highlight-box">
                                <p class="recent-title">Recent Projects<br>
                                </p>
                            </div>
                            <div class="highlight-btn-box">

                                <!-- added itemprop to indicate name of work -->

                                <h5 itemprop="name" class="highlight-title">Skeies.com</h5>

                                <!-- Added prop to indicate url of work -->

                                <a itemprop="url" target="_blank" href="https://skeies.com/"><button
                                        class="btn-primary highlight-btn">View
                                        Site</button></a>
                            </div>
                           

                            <!-- Added prop to indicate img of work -->
                            <img itemprop="image" class="img-fluid slider-imgs" src="img/Skeies-Header.png"
                                alt="Skeie's Jewelers website" loading="lazy">
                        </div>
                    </li>

                    <!-- MicroData schema added -->
                    <!-- I embedded a creativeWork prop here to indicate a work associated with the person type -->

                    <li itemscope itemtype="http://schema.org/WebPage" class="glide__slide">
                        <div
                            style="position: absolute; width: 100%; height: 100%; background-color: black; opacity: 0.3;">

                        </div>
                        <div class="highlight-box">
                            <p class="recent-title">Recent Projects
                            </p>
                        </div>
                        <div class="highlight-btn-box">

                            <!-- added itemprop to indicate name of work -->

                            <h5 itemprop="name" class="highlight-title">"ELO Rebuild V1"</h5>

                            <!-- Added prop to indicate url of work and workStatus-->
                            <a itemprop="url" target="_blank" href="https://the-next.eliterature.org/"><button itemprop="creativeWorkStatus"
                                    class="highlight-btn">View Site</button></a>
                        </div>

                        <!-- Added prop to indicate image of work -->

                        <img itemprop="image" class="img-fluid slider-imgs" src="img/elo-header.png"
                            alt="Electronic Literature site rebuild project" loading="lazy">
                    </li>

                    <!-- MicroData schema added -->
                    <!-- I embedded a creativeWork prop here to indicate a work associated with the person type -->

                    <li itemscope itemtype="http://schema.org/WebPage" class="glide__slide">
                        <div
                            style="position: absolute; width: 100%; height: 100%; background-color: black; opacity: 0.3;">

                        </div>
                        <div class="highlight-box">
                            <p class="recent-title">Recent Projects
                            </p>
                        </div>
                        <div class="highlight-btn-box">

                            <!-- added itemprop to indicate name of work -->

                            <h5 itemprop="name" class="highlight-title">"2084"</h5>

                            <!-- Added prop to indicate url of work -->

                            <a itemprop="url" target="_blank"
                                href="https://dtc-wsuv.org/rgriffus20/hypermedia_game/"><button
                                    class="highlight-btn">View
                                    work</button></a>
                        </div>

                        <!--  -->
                        <!-- I added alt text to my images in the slider so that the search engine has more info on the image. -->
                        <!--  -->
                        <!-- Also, structuring my recent projects in a list lends itself to search engine rich snippets. -->

                        <!-- Added itemprop to indicate image of work -->
                        <img itemprop="image" class="img-fluid slider-imgs" src="img/Hmedia-1n.jpg"
                            alt="Original work entitled 2084" loading="lazy">
                    </li>

                    

                    <!-- MicroData schema added -->
                    <!-- I embedded a creativeWork prop here to indicate a work associated with the person type -->

                    <li itemscope itemtype="http://schema.org/WebPage" class="glide__slide">
                        <div class="recent_content_container">
                            <div class="highlight-box">
                                <p class="recent-title">Recent Projects <br>
                                </p>
                            </div>
                            <div class="highlight-btn-box">

                                <!-- Added itemprop to indicate name -->

                                <h5 itemprop="name" class="highlight-title">"To-Do App"</h5>

                                <!-- Added itempro to indicate url -->
                                <a itemprop="url" target="_blank" href="https://my-app3.vercel.app/"><button
                                        class="btn-primary highlight-btn">View
                                        work</button></a>
                            </div>
                            

                            <!-- Added itemprop to indicate image of work -->
                            <img itemprop="image" class="img-fluid slider-imgs" src="img/todo.jpg" alt="Todo list app"
                                loading="lazy">
                        </div>
                    </li>

                    <!-- MicroData schema added -->
                    <!-- I embedded a creativeWork prop here to indicate a work associated with the person type -->

                    <li itemscope itemtype="http://schema.org/WebPage" class="glide__slide">
                        <div class="recent_content_container">
                            <div class="highlight-box">
                                <p class="recent-title">Recent Projects <br>
                                </p>
                            </div>
                            <div class="highlight-btn-box">

                                <!-- Added itemprop to indicate name of work -->
                                <h5 itemprop="name" class="highlight-title">"The Night"</h5>

                                <!-- Added itemprop to indiacte url of work -->

                                <a itemprop="url" target="_blank"
                                    href="https://dtc-wsuv.org/rgriffus20/lightbox_comic"><button
                                        class="btn-primary highlight-btn">View
                                        work</button></a>
                            </div>
                            

                            <!-- Added itemprop to indicate image of work -->

                            <img itemprop="image" class="img-fluid slider-imgs" src="img/thenight.jpg"
                                alt="The night original story" loading="lazy">
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"
                    style="font-size: 1.8em; border:none; margin:20px; padding:0px;"><i class="fa fa-angle-double-left"
                        alt="arrow left icon"></i></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"
                    style="font-size: 1.8em; border: none; margin:20px;padding: 0px;"><i
                        class="fa fa-angle-double-right" alt="arrow right icon"></i></button>
            </div> -->
        </div>
    </div>


    <!-- skills section -->

    <!--  -->
    <!-- I decided to add this section to provide extra indexable content(specifically the h3 and p tags) for the search engine and 
        so that I had more opportunities to naturally use keywords.-->

    <div class="container home-container" style="text-align: center;">
        <p><span style="font-size: 88px;">&#x1F44B; &#128515;</span>
            <br>
            <p style="font-size: 2em;font-weight: bold;">Thanks for Visiting!
        </p>
            <br>
            &nbsp; &nbsp; &nbsp;I am a highly passionate Web Developer & Designer with a broad array of skills who is always willing to
            go the extra mile to make a project great. I currently work for <a href="https://growthdyn.com/" style="color:black"><span style="text-decoration: underline">Growth Dynamics</span></a> in Eugene, Oregon as a <span style="font-style: italic;">Full Stack Web Developer</span>. Here's a breakdown of my <span style="font-weight:bold;font-size: 1.2em;">current toolbelt:</span></p>
    </div>    
    <div class="container home-container">
        <div class="row">
            <!-- card 1 -->

            <!--  -->
            <!-- I added an alt tag to the i elements to communicate the icon's intent to the search engine. 
             -->
            <div v-for="(skill, i) in skills" :key="i" class="skills_card card col-sm-12 col-md-6 col-lg-4 mx-auto">
                <i alt="development skill icon" class="fa text-center" :class="skill.icon"
                    style="font-size:98px;color:#575757;  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);"></i>
                <h3 class="card-title text-center skills-title">{{ skill.type }}</h3>
                <h6 class="text-center">Skills:</h5>

                    <!-- Added knowsAbout property to each item in this list to indicate the person knows about these things -->


                    <p class="text-center skills_content">
                        <span v-for="(item,j) in skill.list" :key="j" itemprop="knowsAbout">{{ item }} &nbsp; </span>
                    </p>

            </div>
        </div>
    </div>

    <!-- Call to action -->

    <div id="coa" class="jumbotron">
        <h1 class="coa-text">Let's get to Work.</h1>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <p id="email"><a href="mailto:rmgriffus@comcast.net"><i alt="email icon"
                                class="fa fa-envelope"></i>Send me an
                            Email</a></p>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <a style="font-size: 3em;" href="https://www.linkedin.com/in/ross-griffus-65905a7b/"
                        class="fa fa-linkedin"></a>
                    <a style="font-size: 3em;" href="https://twitter.com/Rmgriff83" class="fa fa-twitter"></a>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="row col-12 mx-auto" style="margin: 0%;">
            <p class="mx-auto text-center">
                Designed and Built by Ross Griffus <br>
                July. 2022
            </br>
            <a  style="font-size: 1.5em;" href="https://www.linkedin.com/in/ross-griffus-65905a7b/"
                    class="fa fa-linkedin"></a>
            <a  style="font-size: 1.5em;" href="https://twitter.com/Rmgriff83" class="fa fa-twitter"></a>
            </p>
        </div>

    </footer>

  </div>
  <script src="./app.js"></script>

    <!-- glider slider script -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>

        const config = {
            autoplay: 5000,
            hoverpause: false,
            type: "slider",
            perView:1

        };
        new Glide('.glide', config).mount()
    </script>

    <script>
        // On Scroll code template taken from https://stackoverflow.com/questions/39107457/pop-up-header-when-scrolling-down

        $(window).scroll(function () {
            // If we have scrolled more than 66px
            if ($(document).scrollTop() > 66) {
                // Add class "fixed" to header element
                $('#popin_fix').fadeIn(150);
                // Otherwise
            } else {
                $('#popin_fix').fadeOut(150);

            }
        });
    </script>

    <script>
        if ('loading' in HTMLImageElement.prototype) {
            console.log('Browser supports`loading`');
        } else {
            console.log('Fetch and apply a polyfill / JavaScript library for lazy - loading instead.');
        }
    </script>
</body>

</html>